@using Movie_Web_Mvc.ViewModel;
@model LoginViewModel




@{
    ViewData["Title"] = "Log in to your account";
}
@if (TempData["Error"] != null)
{

    <div class="col-md-4 alert alert-success">

        @* <div class="col-md-4 alert alert-danger">*@
        <span><b>Sorry!</b> - @TempData["Error"] </span>
    </div>
}
<style>
    body {
        margin: 0;
        padding: 0;
        background: url(https://inc42.com/wp-content/uploads/2019/12/Untitled-design-2019-12-09T080908.682.jpg);
        /* background: url(https://png.pngtree.com/background/20210711/original/pngtree-cinema-promotion-popcorn-vision-atmosphere-micro-movie-recruitment-poster-template-picture-image_1097887.jpg);*/

        background-size: auto;
    }


    .loginBox {
      
        width: 350px;
        height: 430px;
        padding: 70px 25px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.5);
    }

        .loginBox h2 {
            margin: -12px;
            /*padding: 0 0 26px;*/
            padding: 7px 0 26px;
            color: #ff8c00;
            text-align: center;
        }

        .loginBox h1 {
            margin: -12px;
            padding: 0 0 26px;
            padding: 7px 0 26px;
            color: #ff8c00;
            text-align: center;
        }

        .loginBox .form-group {
            margin-bottom: 20px;
        }

        .loginBox label {
            font-weight: bold;
            color: #fff;
        }

        .loginBox input[type="text"],
        .loginBox input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
            width: 100%;
        }

        .loginBox .text-danger {
            color: #fff;
        }

        .loginBox button[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            color: #eee;
            font-size: 16px;
            background-color: #FF8C00;
            cursor: pointer;
            border-radius: 20px;
            margin: 12px 0 18px;
            width: 100%;
        }

            .loginBox button[type="submit"]:hover {
                background-color: #ff9719;
                color: #fff;
            }

        .loginBox a {
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            align-content:center;
        }
        main-content {
            height:38rem;
        }

    .loginBox .login-heading {
        margin-top: -39px;
        padding-bottom: 57px;
    }

  
    

   

</style>
@*

<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="loginBox">
        <h2>Login</h2>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registerForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="Email Address">Email Address</label>
                <input type="text" required placeholder="Enter your Email Address" id="Name" class="form-control" name="Name" />
            </div>

            

            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" required placeholder="Enter your Password" id="Password" class="form-control" name="Password" />
            </div>

          
             <button type="submit" class="btn btn-primary">Login</button>
            <div class="text-center">
                @Html.ActionLink("New Customer? Register", "Register", "Account", null, new { @class = "" })
            </div>
        }
    </div>
</div>

<script>
    function register() {
        
        var email = $('#Email Address').val();
        var password = $('#Password').val();
        var data = {
           
            Email: email,
            Password: password
        };
        $.ajax({
            type: 'POST',
            url: '/Account/Register',
            data: data,
            success: function (response) {
                alert("Registered Successfully");
            },
            error: function (xhr, textStatus, errorThrown) {
                alert("Something went wrong");
            }
        });
    }
</script>*@


<div class=" container-fluid d-flex align-items-center justify-content-center" Style=height:35rem>
    <div class="loginBox">
        @*<h3>Login</h3>*@
        <h2 class="login-heading">Login</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
               
            <div class="text-center">
                @Html.ActionLink("New Customer? Register", "Register", "Account", null, new { @class = "" })
            </div>
            }

           
        
    </div>
</div>